image: maven:3.9.9-eclipse-temurin-17

stages:
  - checkstyle
  - build
  - test
  - conformance
cache:
  key: "m2-cache"
  paths:
    - .m2/repository
checkstyle:
  stage: checkstyle
  rules:
    - changes:
        - "pom.xml"
        - "src/**/*"
  script:
    - mvn -Dmaven.test.skip=true checkstyle:check
  artifacts:
    when: always
    paths:
      - "target/checkstyle-result.xml"
      
build:
  stage: build
  script:
    - mvn -DskipTests package
  artifacts:
    paths:
      - "target/*.jar"
test:
  stage: test
  needs:
    - job: build
      optional: true
  rules:
    - changes:
        - "pom.xml"
        - "src/**/*"
  script:
    - mvn test
  artifacts:
    when: always
    paths:
      - target/surefire-reports/

conformance_check:
  stage: conformance
  needs:
    - job: build
      optional: true
  rules:
    - changes:
        - "event_log/*.csv"
  script:
    - echo "Changed CSV files:"
    - git diff --name-only HEAD~1 HEAD -- "event_log/*.csv" > changed_files.txt
    - cat changed_files.txt
    - if [ ! -s changed_files.txt ]; then echo "No CSV changes detected."; exit 0; fi

    - jar_file=$(ls target/*-jar-with-dependencies.jar | head -n 1)

    - |
      while IFS= read -r file; do
            filename=$(basename "$file")          # extract the name
            java -jar "$jar_file" "$filename"
      done < changed_files.txt
    - rm changed_files.txt
  artifacts:
    when: always
    paths:
      - reports/