image: maven:3.9.9-eclipse-temurin-17

stages:
  - build
  - test
cache:
  key: "m2-cache"
  paths:
    - .m2/repository
build:
  stage: build
  rules:
    - changes:
        - "pom.xml"
        - "src/**/*"
  script:
    - mvn -DskipTests package
  artifacts:
    paths:
      - "target/*.jar"
test:
  stage: test
  needs: ["build"]
  rules:
    - changes:
        - "pom.xml"
        - "src/**/*"
  script:
    - mvn test
  artifacts:
    when: always
    paths:
      - target/surefire-reports/