image: maven:3.9.9-eclipse-temurin-17

stages:
  - build
  - test
  - conformance
cache:
  key: "m2-cache"
  paths:
    - .m2/repository
build:
  stage: build
  rules:
    - changes:
        - "pom.xml"
        - "src/**/*"
  script:
    - mvn -DskipTests package
  artifacts:
    paths:
      - "target/*.jar"
test:
  stage: test
  needs: ["build"]
  rules:
    - changes:
        - "pom.xml"
        - "src/**/*"
  script:
    - mvn test
  artifacts:
    when: always
    paths:
      - target/surefire-reports/



# Conformance check job (runs only if .csv files changed)
conformance_check:
  stage: conformance
  needs: ["build"]
  rules:
    - changes:
        - "event_log/*.csv"
  script:
    # Detect newly added or changed CSVs
    - echo "Changed CSV files:"
    - git diff --name-only HEAD~1 HEAD -- "event_log/*.csv" > changed_files.txt
    - cat changed_files.txt

    # If no changed files, exit gracefully
    - if [ ! -s changed_files.txt ]; then echo "No CSV changes detected."; exit 0; fi

    # Find the jar file
    - jar_file=$(ls target/*-jar-with-dependencies.jar | head -n 1)

    # Run your program for each changed CSV
    - |
      while IFS= read -r file; do
            filename=$(basename "$file")          # extract the name
            java -jar "$jar_file" "$filename"
      done < changed_files.txt